# excluded folders
.vscode
.DS_Store
.uscope

# local config files
.clang-format
.output

# C compilation files
*.dSYM
*.dSYM/**

# executables
parserGenerator
LL1Generator
LL1parser

# testing files
parsing-table-csv
ptable.dat
terminals.txt
nonterminals.txt
results.txt
firstset.txt
followset.txt

# Zig
analyze
*.o
.zig-cache
**/.zig-cache/**

# AI
opencode.json
AGENTS.md
